<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>아이템 상세보기</title>
</head>
<body>
<th:block layout:fragment="content">
<form th:object="${itemDTO}">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 80rem;">
                        <img th:src="${itemDTO.itemImgDTOList.get(0).imgUrl}" class="card-img-top" th:alt="${itemDTO.getItemImgDTOList().get(0).oriImgName}">
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <th:block th:if="${itemDTO.itemSellStatus.name() == 'SELL'}">
                                <span class="badge text-bg-success">판매중</span>
                            </th:block>
                            <th:block th:if="${itemDTO.itemSellStatus.name() == 'SOLD_OUT'}">
                                <span class="badge text-bg-success">품절</span>
                            </th:block>
                            <label for="itemSellStatus" class="form-label">상품 판매 상태 </label>
                            <select  th:field="*{itemSellStatus}" id="itemSellStatus" class="form-select" aria-label="Default select example">
                                <option value="SELL">판매중</option>
                                <option value="SOLD_OUT">품절</option>
                            </select>
                            <h5 class="card-title" th:text="${itemDTO.itemNm}">제품명</h5>
                            <p class="card-text">가격</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    상세설명
                </div>
            </div>
            <div class="row" style="background: skyblue">
                <div class="col">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">상세페이지</button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">리뷰</button>
                            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
                            <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false" disabled>Disabled</button>
                        </div>
                    </nav>
                </div>
                <div class="tab-content" id="nav-tabContent">
                    <div class="row">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                            <th:block th:each="img: ${itemDTO.itemImgDTOList}">
                                <th:block th:unless="${img.repimgYn == 'Y'}">
                                    <div class="col">
                                        <img width="90%" th:src="${img.imgUrl}">
                                    </div>
                                </th:block>
                            </th:block>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                        댓글이 들어갈 곳
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">...</div>
                    <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">...</div>
                </div>
            </div>

            <div class="row"></div>
            <div class="row"></div>

        </div>
    </div>
</form>

</th:block>
</body>
</html>